.contact {
  padding: 100px 20px;
}
.textarea, input {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  font-size: 13px;
  background: transparent;
  color: #495057;
  box-sizing: border-box;
}
.text__area {
  width: 100%;
}


textarea:focus,
input:focus {
  outline: 0;
  box-shadow: none;
}
.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.contact__firstname {
  padding-right: 15px;
}
.contact__email {
  padding-left: 15px;
}
.contact__send {
  margin-top: 30px;
}