
/* Main headers styles*/
.main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  z-index: 10;

}
.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img{
  width: 65px;
}
.main-navigation {
  display: inline-block;
  vertical-align: middle;

}
.main-navigation__items {
  display: inline-block;
  padding: 10px;

}
.main-navigation__items a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.main-navigation__items a:hover{
  color: #efb6df;
}
.main-navigation__items.active a{
  color:  #efb6df;
}
/* main section*/
.main-banner {
    background: url(../main-banner.png);
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section {
padding: 100px 30px;
margin: 50px 60px;

}
.main-section > div {
  width: 50%;
  float: left;
}
.main-section_imge {
  text-align: right;
}
.main-section_salom {
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
letter-spacing: 2px;
color:#797979;

}
.main-section_social a {
color: #8fa1aa;
font-size: 20px;
display: inline-block;
margin-right: 16px;
cursor: pointer;
}

.main-section_social a:hover i {
color:#1c44e4
}
.main-section_ishlar {
margin-top: 30px;
border: none;
background-color: #1c44e4;
font-weight: 500;
font-size: 14px;
padding: 20px 40px;
cursor: pointer;
border-radius: 5px;

}
.main-section_ishlar:active {
  color: wheat;
  background-color: red;

}


/* Statistics section*/
.statistics__item {
  display: inline-block;
  width: 150px;
  background: #f8faff;
  text-align: center;
  padding: 5px 10px;
  margin-right: 20px;
}
.statistics_number {
  font-size: 27px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.statistics__title {
  font-size: 16px;
  color: #797979;
  font-weight: 300;
}

/*About me section*/


.about-me {
padding: 100px 0;
}
.about-me > div {
   width: 50%;
   float: left;
}
.about-me__image > img {
  width: 90%;
}
.about-me__description {
font-size: 14px;
font-weight: 300;
color: #797979;
line-height: 27px;

}
.about-me__action {
margin-top: 40px;
}

/* Services section style */
.services {
padding-top: 100px;

}
.service-card {
  display: inline-block;
  width: 30%;
  padding: 60px 30px;
  background-color: #f8faff;
  margin-right: 3%;
  text-align: center;
  box-sizing: border-box;

}
.service-card__icon {
  width: 30%;
}
.service-card__title {
color: #05364d;
font-size: 20px;
font-weight: 500;
margin-bottom: 20px;
text-transform: uppercase;
}
.service-card__description {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;
}
.service-card__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;

}
.service-card:hover {
  background-color: #5f30ff;
}
.service-card:hover .service-card__title
.service-card:hover .service-card__description
.service-card:hover .service-card__link {
  color: #f8faff;
  background-color: blue;
}
/*Cilents section style */
.client {
  padding-top: 100px;

}
.client-item__info {
  padding: 50px;
}

.client-item > div {
  width: 50%;
  float: left;
  box-sizing: border-box;

}

.client-item__image img {
width: 100%;

}

.client-item__name {
  font-size: 20px;
  margin: bottom 4px;
}

.client-item__position {
  font: size 14px;
  font-weight: 300;
  color: #5b6d75;

}

.client-item__review {
font-size: 14px;
line-height: 27px;
font-weight: 300;
color: #5b6d75;

}

.client-item__rate {
color: #ffd805;
}

/* Portfoli section style */
.portfolio {
  padding: 100px 0;
}

.portfolio-filters {
  list-style: none;
  padding-left: 0;
}

.portfolio-filters li {
  display: inline-block;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 50px;
}

.active {
  color: #05364d;
}

.portfolio-items{
  margin-top: 50px;
  position: relative;
  height: 600px; /* CHAP RASM BALANDLIGI */
}


.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.portfolio-item-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}


.portfolio-item-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.portfolio-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.portfolio-item__overlay  {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(19,69,230,0.9);
  visibility: hidden;
  z-index: 1;
}

.portfolio-item__info {
  position: absolute;
  bottom: 40px;
  left: 75px;
  color: white;
  visibility: hidden;
  z-index: 1;
}

.portfolio-item__info a {
  color: white;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
  visibility: visible;
  top: 25px;
  left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
  visibility: visible;
  bottom: 20px;
  left: 50px;
}

/* Blog section styles*/
.blog {
  padding-top: 100px;
}
.blog-items {
  margin-top: 50px;
  display: inline-block;

}
.blog-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  box-sizing: border-box;
}
.blog-item:hover {
  box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}
.blog-item:hover .blog-item__info {
  background-color: white;
}
.blog-item__image img {
  width: 100%;
}
.blog-item__info {
  background-color: #f8faff;
  padding: 30px;
  display: inline-block;
  color: #797979;
}
.blog-item__main-info span {
  font-size: 14px;
  margin-right: 30px;
  font-weight: lighter;
}
.blog-item__info i {
  margin-right: 5px;
}
.blog-item__title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #05364d;
  font-weight: 700;

}
.blog-item__description {
  line-height: 27px;
  font-weight: lighter;
  font-size: 15px;

}
.blog-item__learn-more {
    font-size: 13px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #1345e6;
    cursor: pointer;

}
.blog-item__learn-more:hover {
  color: #05364d;
}
/*Partners section style*/
.partners {
  padding-top: 100px;
}
.partner {
  display: inline-block;
  padding: 0px 30px;
}